# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
dist/
build/

# Logs
*.log

# Temp files
*.tmp
*.temp

# Environment variables
.env
.env.local
.env*.local
